ETicaret.Ui/Connected Services/ETicaretWebService/ETicaretWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KategorileriGetir">
        <s:complexType />
      </s:element>
      <s:element name="KategorileriGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KategorileriGetirResult" type="tns:ArrayOfKategorilerResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKategorilerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KategorilerResult" nillable="true" type="tns:KategorilerResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KategorilerResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UstKategoriId" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="KategorileriGetirSoapIn">
    <wsdl:part name="parameters" element="tns:KategorileriGetir" />
  </wsdl:message>
  <wsdl:message name="KategorileriGetirSoapOut">
    <wsdl:part name="parameters" element="tns:KategorileriGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="ETicaretWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KategorileriGetir">
      <wsdl:input message="tns:KategorileriGetirSoapIn" />
      <wsdl:output message="tns:KategorileriGetirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ETicaretWebServiceSoap" type="tns:ETicaretWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KategorileriGetir">
      <soap:operation soapAction="http://tempuri.org/KategorileriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETicaretWebServiceSoap12" type="tns:ETicaretWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KategorileriGetir">
      <soap12:operation soapAction="http://tempuri.org/KategorileriGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETicaretWebService">
    <wsdl:port name="ETicaretWebServiceSoap" binding="tns:ETicaretWebServiceSoap">
      <soap:address location="http://localhost:52044/ETicaretWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ETicaretWebServiceSoap12" binding="tns:ETicaretWebServiceSoap12">
      <soap12:address location="http://localhost:52044/ETicaretWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>